# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c4a9670f2f77f4b6dbae3a11dbd46c5ac440f8207551b3a0e1e676a57f458bee8e31569182756e01611dbd55a62f0a2ef7c7fc8999db7bc99b82263e036063f2

test:
  secret_key_base: 4d9ac94fdb20dd94d0401f4b92328019b5c66efe225c550ffc2f2790b05139c087086cdf36e56d5899b142ea9e48ea55eb6ce79402373d697200b2f35b530f32

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
